.input-header {
  width: 215px;

  span {
    position: absolute;
  }

  .loading::before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f110';
    top: 4px;
    right: 7px;
    -webkit-animation: spin 1s linear infinite;
    -moz-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
  }

  @-moz-keyframes spin { 100% { -moz-transform: rotate(360deg); } }
  @-webkit-keyframes spin { 100% { -webkit-transform: rotate(360deg); } }
  @keyframes spin { 100% { -webkit-transform: rotate(360deg); transform:rotate(360deg); } }

  input {
    background-color: #FAFAFA;
    font-family: FontAwesome, Roboto, sans-serif;
    font-weight: 200;
    font-size: 13px;
    border: 1px solid #EAEAEA;
    text-align: center;
    border-radius: 2px;
    width: 100%;
    height: 28px;
  }

  input:focus {
    background-color: #FFFFFF;
    color: #000;
    text-align: left;
    padding-left: 25px;
    outline: none;
  }

  input + span::before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f002';
    font-size: 10px;
    color: #A5A7AA;
    right: 135px;
    top: 6px;
  }

  input:focus + span::before {
    position: absolute;
    font-family: FontAwesome;
    content: '\f002';
    font-size: 10px;
    color: #A5A7AA;
    right: 195px;
    top: 6px;
  }

  input::-webkit-input-placeholder {
    color: #A5A7AA;
  }

  input::-moz-placeholder {
    color: #A5A7AA;
  }

  input:-moz-placeholder {
    color: #A5A7AA;
  }
  input:-ms-input-placeholder {
    color: #A5A7AA;
  }
}