* {
  font-family: 'Roboto', sans-serif;
}

.page-body {
  position: relative;
  min-height: 100%;
}

.wrapper {
  min-height: 100%;
}

.grid {
  margin: 0 auto;
  max-width: 935px;
}

.header {
  background-color: #FFFFFF;
  width: 100%;
  padding: 22px 0;
  border-bottom: 1.5px solid #DBDBDB;
}

.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 1rem;
  text-align: center;
}